#ventana_compraventa {
    background-color: #2e2e2e;
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
}

#titulo_compraventa {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
}

QGroupBox {
    background-color: #3a3a3a;
    border: 2px solid #E30613;
    border-radius: 10px;
    margin-top: 10px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 3px;
    color: white;
}

QLabel {
    color: white;
    font-weight: normal;
}

QLineEdit, QComboBox, QTextEdit {
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 4px;
}

QToolButton {
    background: transparent;
    border: none;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
}

QPushButton {
    background-color: #E30613;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #b5050f;
}

/* ✅ Área scroll principal */
QScrollArea#scroll_area_compraventa {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    padding: 0px;
    margin: 0px;
}

#scroll_widget {
    background-color: #2e2e2e;
    border-radius: 15px;
    padding: 0;
    margin: 0;
}

/* Scrollbar vertical */
QScrollBar:vertical {
    background: #2e2e2e;
    width: 12px;
    margin: 0;
    border-radius: 6px;
}

QScrollBar::handle:vertical {
    background: red;
    min-height: 30px;
    border-radius: 6px;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0;
    width: 0;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/* Scrollbar horizontal */
QScrollBar:horizontal {
    background: #1e1e1e;
    height: 12px;
    margin: 0;
    border-radius: 6px;
}

QScrollBar::handle:horizontal {
    background: #E30613;
    min-width: 25px;
    border-radius: 6px;
}

QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
    width: 0px;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: none;
}

QTextEdit {
    font-family: "Segoe UI", sans-serif;
    font-size: 13px;
}

QComboBox {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #999;
    min-width: 150px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border-left: 1px solid #aaa;
}

QComboBox::down-arrow {
    image: url(img/mas.png); /* si tienes una imagen personalizada */
    width: 12px;
    height: 12px;
}

QToolButton#boton_compraventa {
    background-color: #d90429;
    color: white;
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
    width: 95px;
    height: 80px;
    padding: 6px;
    border: none;
    margin: 5px;
    qproperty-iconSize: 32px;
    border: 2px solid #a0001c;
}

QToolButton#boton_compraventa:hover {
    background-color: #c40324;
    border: 2px solid #880016;
}

QToolButton#boton_compraventa:pressed {
    background-color: #990016;
    border: 2px inset #600010;
    padding-top: 2px;
    padding-bottom: -2px;
}

QTableWidget {
    border: 2px solid #ccc;
    border-radius: 12px;
    background-color: white;
    gridline-color: #ccc;
    padding: 4px;
}

QTableWidget::item {
    padding: 6px;
}

QHeaderView::section {
    background-color: #444;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: none;
}

/* seccion de ventas */

QToolButton#boton_compraventa_venta {
    background-color: #d90429;
    color: white;
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
    width: 95px;
    height: 80px;
    padding: 6px;
    border: none;
    margin: 5px;
    qproperty-iconSize: 32px;
    border: 2px solid #a0001c;
}

QToolButton#boton_compraventa_venta:hover {
    background-color: #c40324;
    border: 2px solid #880016;
}

QToolButton#boton_compraventa_venta:pressed {
    background-color: #990016;
    border: 2px inset #600010;
    padding-top: 2px;
    padding-bottom: -2px;
}

/* Checkboxes de impresión y correo */
QCheckBox {
    color: white;
    font-weight: bold;
    spacing: 6px;
    padding-left: 2px;
}

QCheckBox::indicator {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 2px solid #E30613;
    background-color: white;
}

QCheckBox::indicator:checked {
    background-color: #E30613;
}

/* Ruta de guardado personalizada */
QLineEdit[ruta_guardado="true"] {
    background-color: #f5f5f5;
    color: black;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px;
    font-weight: normal;
}

QPushButton[ruta_guardado="true"] {
    background-color: #444;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 6px 12px;
}

QPushButton[ruta_guardado="true"]:hover {
    background-color: #555;
}


QMessageBox {
    background-color: #3A3A3A;
    color: #000000;
    font-family: Montserrat;
    font-size: 14px;
}

QMessageBox QPushButton {
    background-color: #E30613;
    color: white;
    border-radius: 8px;
    padding: 5px 15px;
    font-weight: bold;
}

QMessageBox QPushButton:hover {
    background-color: #b6040f;
}
