#ventana_nuevo_cliente {
    background-color: #f3f3f3;
}

QLabel {
    font-weight: bold;
}

QLineEdit, QTextEdit {
    background-color: white;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

QPushButton#boton_compraventa {
    background-color: #d90429;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 14px;
    border: 2px solid #a0001c;
    margin: 6px;
}

QPushButton#boton_compraventa:hover {
    background-color: #c40324;
    border: 2px solid #880016;
}

QPushButton#boton_compraventa:pressed {
    background-color: #990016;
    border: 2px inset #600010;
}
