QWidget {
    background-color: #f1f1f1;
    font-family: Montserrat, sans-serif;
    border-radius: 12px;
}

#titulo_verificar {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
}

#texto_instruccion {
    font-size: 14px;
    color: #444;
    margin-top: 0px;
    margin-bottom: 5px;
}

QLineEdit {
    border: 1px solid #888;
    padding-left: 10px;
    border-radius: 6px;
    background-color: #e6ecf0;
    font-size: 14px;
}

QPushButton {
    background-color: #d90429;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
}

QPushButton:hover {
    background-color: #c2001d;
}
