@import url('https://fonts.googleapis.com/css2?family=Arial:ital,wght@1,700&display=swap');

input {
    caret-color: red !important;
    background-color: white; /* Para asegurarnos de que se vea */
    color: black;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px;
}

.arial-bold-italic {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}

/* Colores del logo */
.text-rey {
    color: #333; /* Color de "Rey" en el logo */
}

.text-boxes {
    color: #E30613; /* Color rojo de "Boxes" en el logo */
}

/* Fondo oscuro con tonos metálicos */
body {
    background-color: #222831; /* Gris oscuro metálico */
    background-image: linear-gradient(to bottom right,rgb(129, 133, 138), #393E46); /* Degradado oscuro */
    color: white; /* Texto en blanco para contraste */
}

/* Estilos para la tarjeta de login */
.card {
    background-color:rgb(115, 132, 150); /* Azul grisáceo oscuro */
    color: white; /* Texto en blanco */
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Cambiar color de los inputs */
.form-control {
    background-color:rgb(171, 202, 233); /* Azul grisáceo más claro */
    color: white;
    border: 1px solid #4A6377;
}

.form-control::placeholder {
    color:rgb(63, 65, 66); /* Gris claro para los placeholders */
}

/* Estilos del botón "Entrar" */
.btn-primary {
    background-color: #E30613; /* Rojo "Boxes" */
    border: none;
    font-size: 16px;
    padding: 8px 16px; /* Ajustado para hacerlo más compacto */
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%; /* Hace que ocupe la mitad del contenedor */
    max-width: 150px; /* Máximo tamaño para evitar que sea muy grande */
    display: block; /* Para centrarlo correctamente */
    margin: 10px auto 0; /* Centrar el botón */
    text-align: center;
}


/* Efecto hover: que sobresalga un poco */
.btn-primary:hover {
    background-color: #C70511;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Efecto click: que parezca que se hunde */
.btn-primary:active {
    background-color: #A9040F;
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Enlace de "¿Olvidaste tu contraseña?" */
.text-decoration-none {
    color: #333;
}

.text-decoration-none:hover {
    color: #FF4757;
}
